* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

table,
td,
th {
  border: 1px solid;
  padding: 5px;
}

body {
  background-color: #697187;
  color: white;
}

.nav {
  padding: 11px 15px;
  background-color: #4b5161;
  text-align: center;

}

.nav a {
  color: white;
  text-decoration: none;
}