* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

table,
td,
th {
  border: 1px solid;
  padding: 5px;
}

body {
  background-color: #a5a9b7;
  color: white;
}

.nav {
  padding: 11px 18px;
  background-color: #787f93;
  text-align: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding-right: 40px;
}

.nav ul {
  display: inline;
  justify-content: center;
  
}

img {
  padding: 7px;
}